{% extends 'guild/base.html.twig' %}

{% block javascripts %} {{parent()}}
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script> new ClipboardJS('.ui.button.copy'); </script>
{% endblock %}

{% block body %} {{parent()}}

  <div class="ui grid two column centered container stackable">
    <div class="column">
      <h2>{% trans %}guild.settings.title{% endtrans %}</h2>

      {{ form_start(settings, {'attr': {'class': 'ui form', 'autocomplete': 'off'}}) }}

      <h4 class="ui dividing header">{% trans %}general{% endtrans %}</h4>

      <div class="inline field">
        <div class="ui toggle checkbox">
          {{ form_widget(settings.display_in_directory) }}
          {{ form_label(settings.display_in_directory, 'guild.settings.display_in_directory.label'|trans) }}
        </div>
      </div>

      <div class="field">
        {{ form_label(settings.description, 'guild.settings.description.label'|trans) }}
        {{ form_widget(settings.description) }}
      </div>

      <div class="field">
        {{ form_label(settings.guild_activities, 'guild.settings.activities.label'|trans) }}
        {{ form_widget(settings.guild_activities) }}
      </div>

      <div class="field">
        {{ form_label(settings.guild_tags, 'guild.settings.tags.label'|trans) }}
        {{ form_widget(settings.guild_tags) }}
      </div>

      <h4 class="ui dividing header">{% trans %}guild.links{% endtrans %}</h4>

      <div class="field">
        <div class="ui left icon input">
          {{ form_widget(settings.website, {'attr': {'placeholder': 'guild.settings.website.label'|trans}}) }}
          <i class="linkify icon"></i>
        </div>
      </div>

      <div class="field">
        <div class="ui left icon input">
          {{ form_widget(settings.facebook) }}
          <i class="facebook f icon"></i>
        </div>
      </div>

      <div class="field">
        <div class="ui left icon input">
          {{ form_widget(settings.twitter) }}
          <i class="twitter icon"></i>
        </div>
      </div>

      <div class="field">
        <div class="ui left icon input">
          {{ form_widget(settings.youtube) }}
          <i class="youtube icon"></i>
        </div>
      </div>

      <div class="field">
        <div class="ui left icon input">
          {{ form_widget(settings.twitch) }}
          <i class="twitch icon"></i>
        </div>
      </div>

      <div class="field">
        <div class="ui left icon input">
          {{ form_widget(settings.discord) }}
          <i class="discord icon"></i>
        </div>
      </div>

      <h4 class="ui dividing header">{% trans %}display.options{% endtrans %}</h4>

      <div class="fields">
        <div class="field eight wide">
          {{ form_label(settings.display_stash, 'guild.settings.display_stash.label'|trans) }}
          {{ form_widget(settings.display_stash) }}
        </div>
        <div class="field eight wide">
          {{ form_label(settings.display_treasury, 'guild.settings.display_treasury.label'|trans) }}
          {{ form_widget(settings.display_treasury) }}
        </div>
      </div>

      <div class="fields">
        <div class="field eight wide">
          {{ form_label(settings.display_members, 'guild.settings.display_members.label'|trans) }}
          {{ form_widget(settings.display_members) }}
        </div>
      </div>

      {{ form_widget(settings) }}

      <h4 class="ui dividing header">Discord</h4>

      <p>
        <a href="#!" class="ui button settings discord">{% trans %}configure{% endtrans %}</a>
        {% if guild.discordGuildId %}Discord is connected!{% endif %}
      </p>

      <h4 class="ui dividing header">{% trans %}save{% endtrans %}</h4>

      <button type="submit" class="ui green button">{% trans %}save{% endtrans %}</button>

      {{ form_end(settings) }}
    </div>
  </div>

  <div class="ui tiny modal settings discord">
    <i class="close icon"></i>
    <div class="header">
      {% trans %}configure.discord{% endtrans %}
    </div>
    <div class="content">
      <div class="description">
        <ol>
          <li>First, <a href="https://discordapp.com/oauth2/authorize?client_id=522011594532716564&scope=bot&permissions=8" target="_blank">invite Le Bot Magique</a> on your guild's Discord</li>
          <li>Next, in a private channel, send that command:<br /><a class="ui button tiny icon copy" data-clipboard-text="$lbm sync {{guild.uid}}"><i class="clipboard icon"></i> $lbm sync {{guild.uid}}</a></li>
          <li>And done!</li>
        </ol>
      </div>
    </div>
  </div>

{% endblock %}
