{% extends 'admin.html.twig' %}

{% block title %}Activités{% endblock %}
{% block subtitle %}Ajouter/Modifier une activité{% endblock %}

{% block body %}

{{ form_start(form, {'attr': {'class': 'pure-form pure-form-stacked form-500px', 'autocomplete': 'off'}}) }}

  <p>{{ form_label(form.achievement, 'Identifiant du succès') }}
  {{ form_widget(form.achievement, {'attr': {"class": 'pure-input-1'}}) }}</p>

  <p>{{ form_label(form.fr, 'Lien du guide en français') }}
  {{ form_widget(form.fr, {'attr': {"class": 'pure-input-1'}}) }}</p>

  <p>{{ form_label(form.en, 'Lien du guide en anglais') }}
  {{ form_widget(form.en, {'attr': {"class": 'pure-input-1'}}) }}</p>

  <p>{{ form_label(form.de, 'Lien du guide en allemand') }}
  {{ form_widget(form.de, {'attr': {"class": 'pure-input-1'}}) }}</p>

  <p>{{ form_label(form.es, 'Lien du guide en espagnol') }}
  {{ form_widget(form.es, {'attr': {"class": 'pure-input-1'}}) }}</p>

  {{ form_widget(form) }}

  <p><button type="submit" class="pure-button pure-button-primary">Enregistrer</button></p>

{{ form_end(form) }}

{% endblock %}
