{% extends 'admin.html.twig' %}

{% block body %}

  <h1 class="text-center">Éditer les guides d'un succès</h1>

  {{ form_start(form, {'attr': {'autocomplete': 'off'}}) }}

    <div class="form-group">
      {{ form_label(form.achievement, 'Identifiant du succès') }}
      {{ form_widget(form.achievement, {'attr': {"class": 'form-control'}}) }}
    </div>

    <div class="form-group">
      {{ form_label(form.fr, 'Lien du guide en français') }}
      {{ form_widget(form.fr, {'attr': {"class": 'form-control'}}) }}
    </div>

    <div class="form-group">
      {{ form_label(form.en, 'Lien du guide en anglais') }}
      {{ form_widget(form.en, {'attr': {"class": 'form-control'}}) }}
    </div>

    <div class="form-group">
      {{ form_label(form.de, 'Lien du guide en allemand') }}
      {{ form_widget(form.de, {'attr': {"class": 'form-control'}}) }}
    </div>

    <div class="form-group">
      {{ form_label(form.es, 'Lien du guide en espagnol') }}
      {{ form_widget(form.es, {'attr': {"class": 'form-control'}}) }}
    </div>

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Enregistrer</button>

    <a href="{{path('admin_achievements_guides')}}" class="btn btn-secondary float-right">Annuler</a>

  {{ form_end(form) }}

{% endblock %}
