{% extends 'admin.html.twig' %}

{% block body %}

  <h1>Guides des succès <a href="{{ path('admin_achievements_guides_edit', {'id': 'new'}) }}" class="btn btn-outline-primary"><i class="fas fa-plus"></i></a></h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Succès</th>
        <th>FR</th>
        <th>EN</th>
        <th>DE</th>
        <th>ES</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for guide in guides %}
        <tr>
          <td><a href="https://api.guildwars2.com/v2/achievements/{{guide.achievement}}?lang=fr" target="_blank">{{guide.achievement}}</a></td>
          <td>{% if guide.fr %}<a href="{{guide.fr}}" target="_blank"><i class="fas fa-book"></i></a>{% else %}<i class="fas fa-book text-muted"></i>{% endif %}</td>
          <td>{% if guide.en %}<a href="{{guide.en}}" target="_blank"><i class="fas fa-book"></i></a>{% else %}<i class="fas fa-book text-muted"></i>{% endif %}</td>
          <td>{% if guide.de %}<a href="{{guide.de}}" target="_blank"><i class="fas fa-book"></i></a>{% else %}<i class="fas fa-book text-muted"></i>{% endif %}</td>
          <td>{% if guide.es %}<a href="{{guide.es}}" target="_blank"><i class="fas fa-book"></i></a>{% else %}<i class="fas fa-book text-muted"></i>{% endif %}</td>
          <td><a href="{{ path('admin_achievements_guides_edit', {'id': guide.id}) }}"><i class="fas fa-edit"></i> Modifier</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
