{% extends 'base.html.twig' %}

{% block title %}{% trans %}register.title{% endtrans %}{% endblock %}

{% block body %}

<div class="wrap">
  <h1>{% trans %}register.title{% endtrans %}</h1>

  {{ form_start(registrationForm) }}
    {{ form_label(registrationForm.email, 'register.email.label'|trans) }}
    {{ form_widget(registrationForm.email) }}

    {{ form_label(registrationForm.plainPassword, 'register.password.label'|trans) }}
    {{ form_widget(registrationForm.plainPassword) }}

    {{ form_label(registrationForm.apiKey, 'register.apikey.label'|trans) }}
    {{ form_widget(registrationForm.apiKey) }}

    {{ form_widget(registrationForm.gdpr) }}
    {{ form_label(registrationForm.gdpr, 'register.gdpr.label'|trans) }}

    <div>
      <button class="btn">{% trans %}register.button{% endtrans %}</button>
    </div>
  {{ form_end(registrationForm) }}
</div>

{% endblock %}
