{% extends 'base.html.twig' %}

{% block title %}{% trans %}register.title{% endtrans %}{% endblock %}

{% block body %}

  <div class="ui grid two column centered container stackable">
    <div class="column">
      <h1>{% trans %}register.title{% endtrans %}</h1>

      {{ form_start(registrationForm, {'attr': {'class': 'ui form', 'autocomplete': 'off'}}) }}

        <div class="field">
          {{ form_label(registrationForm.email, 'register.email.label'|trans) }}
          <div class="ui left icon input">
            {{ form_widget(registrationForm.email) }}
            <i class="envelope icon"></i>
          </div>
        </div>

        <div class="field">
          {{ form_label(registrationForm.plainPassword, 'register.password.label'|trans) }}
          <div class="ui left icon input">
            {{ form_widget(registrationForm.plainPassword) }}
            <i class="lock icon"></i>
          </div>
        </div>

        <div class="field">
          {{ form_label(registrationForm.apiKey, 'register.apikey.label'|trans) }}
          <div class="ui left icon input">
            {{ form_widget(registrationForm.apiKey) }}
            <i class="key icon"></i>
          </div>
        </div>

        <div class="inline field">
          <div class="ui checkbox">
            {{ form_widget(registrationForm.gdpr) }}
            {{ form_label(registrationForm.gdpr, 'register.gdpr.label'|trans) }}
          </div>
        </div>

        <button class="ui button green">{% trans %}register.button{% endtrans %}</button>
      {{ form_end(registrationForm) }}
    </div>
  </div>

{% endblock %}
