{% extends 'admin.html.twig' %}

{% block body %}

  <h1>Mots-clés <a href="{{ path('admin_guilds_tags_edit', {'id': 'new'}) }}" class="btn btn-outline-primary"><i class="fas fa-plus"></i></a></h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>UID</th>
        <th>FR</th>
        <th>EN</th>
        <th>DE</th>
        <th>ES</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for tag in tags %}
        <tr>
          <td>{{tag.uid}}</td>
          <td>{{tag.fr}}</td>
          <td>{{tag.en}}</td>
          <td>{{tag.de}}</td>
          <td>{{tag.de}}</td>
          <td><a href="{{ path('admin_guilds_tags_edit', {'id': tag.id}) }}"><i class="fas fa-edit"></i> Modifier</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="content">

{% endblock %}
