{% extends 'admin.html.twig' %}

{% block body %}

  <h1 class="text-center">Éditer une activité</h1>

  {{ form_start(form, {'attr': {'autocomplete': 'off'}}) }}

    <div class="form-group">
      {{ form_label(form.uid, 'Identifiant unique (UID)') }}
      {{ form_widget(form.uid, {'attr': {"class": 'form-control'}}) }}
      <small class="form-text text-muted">Uniquement des minuscules (a-z) et underscores (_).</small>
    </div>

    <div class="form-group">
      {{ form_label(form.fr, 'Activité en français') }}
      {{ form_widget(form.fr, {'attr': {"class": 'form-control'}}) }}
    </div>

    <div class="form-group">
      {{ form_label(form.en, 'Activité en anglais') }}
      {{ form_widget(form.en, {'attr': {"class": 'form-control'}}) }}
    </div>

    <div class="form-group">
      {{ form_label(form.de, 'Activité en allemand') }}
      {{ form_widget(form.de, {'attr': {"class": 'form-control'}}) }}
    </div>

    <div class="form-group">
      {{ form_label(form.es, 'Activité en espagnol') }}
      {{ form_widget(form.es, {'attr': {"class": 'form-control'}}) }}
    </div>

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Enregistrer</button>

    <a href="{{path('admin_guilds_activities')}}" class="btn btn-secondary float-right">Annuler</a>

  {{ form_end(form) }}

{% endblock %}
