<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>
  <body>

    <header>
      <div class="container">
        <div id="logo">
          <img src="{{ asset('build/logo.png') }}" />
          <span class="site-title">Guild-O-Tron</span>
        </div>

        <nav>
          <ul>
            <li><a href="{{ path('homepage') }}">Home</a></li>

            <li><a href="{{ path('guilds') }}">Guilds</a></li>

            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('app_login') }}">Login</a></li>
            <li><a href="{{ path('app_register') }}">Signup</a></li>
            {% endif %}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
            <li class="red"><a href="{{ path('app_logout') }}">Logout</a></li>
            {% endif %}

            <li class="red"><a href="https://bitbucket.org/anthony-d/guild-o-tron/issues?status=new&status=open" target="_blank" style="color: #3498db;">BUG</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div id="content">
      <div class="container">

        {% for type, messages in app.session.flashbag.all() %}
          {% for message in messages %}
          <div class="flash-message">
            <div class="flash-{{type}}"><a href="#!" class="flash-close">&times;</a>{{message}}</div>
          </div>
          {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
      </div>
    </div>

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </body>
</html>
