<span class="date">{{ log.getCreatedAt()|date("d/m/y H:i") }}</span>

{% if log.getType() == 'joined' %}
  {{log.getUserName()}} has joined the guild.
{% elseif log.getType() == 'invited' %}
  {{log.getData().invited_by}} has invited {{log.getUserName()}} to the guild.
{% elseif log.getType() == 'kick' %}
  {% if log.getUserName() == log.getData().kicked_by %}
    {{log.getUserName()}} has left the guild.
  {% else %}
    {{log.getData().kicked_by}} has kicked {{log.getUserName()}} from the guild.
  {% endif %}
{% elseif log.getType() == 'rank_change' %}
  {% if log.getData().changed_by is defined %}
    {{log.getData().changed_by}} has changed the role of {{log.getUserName()}} to {{log.getData().new_rank}}.
  {% else %}
    {{log.getUserName()}} has changed role to {{log.getData().new_rank}}.
  {% endif %}
{% elseif log.getType() == 'treasury' %}
  {{log.getUserName()}} deposited <span data-item-id="{{log.getData().item_id}}">{{log.getData().item_id}}</span> &times;&nbsp;{{log.getData().count}} into Treasury.
{% elseif log.getType() == 'stash' %}
  {% if log.getData().coins > 0 %}
    {{log.getUserName()}} {{log.getData().operation}}ed {{log.getData().coins|currency}} coins.
  {% else %}
    {{log.getUserName()}} {{log.getData().operation}}ed <span data-item-id="{{log.getData().item_id}}">{{log.getData().item_id}}</span> &times;&nbsp;{{log.getData().count}}.
  {% endif %}
{% elseif log.getType() == 'upgrade' %}
  {{log.getUserName()}} {{log.getData().action}} <span data-upgrade-id="{{log.getData().upgrade_id}}">{{log.getData().upgrade_id}}</span>.
  {# @todo: {% if log.getData().recipe_id is defined %}({{log.getData().recipe_id}}){% endif %} #}
{% elseif log.getType() == 'invite_declined' %}
  {{log.getUserName()}} has declined invite to join the guild.
{% endif %}
