{% if stash %}

  <h2>Stash</h2>

  <div id="guild-stash">
    {% for st in stash.getStash().stash %}
      <h3>{{stash.getStash()._upgrades[st.upgrade_id].name}}</h3>
      <h4>Coins: {{st.coins|currency}}</h4>

      {% if st.note is defined %}
        <p><em>{{st.note}}</em></p>
      {% endif %}

      <ul>
        {% for inv in st.inventory %}
          {% if inv %}
            <li data-tippy-arrow="true" data-tippy="{{inv.count}}&nbsp;&times; {{stash.getStash()._items[inv.id].name}}">
              <span class="count">{{inv.count}}</span>
              <span class="item border rarity-{{stash.getStash()._items[inv.id].rarity}}"><img src="{{stash.getStash()._items[inv.id].icon}}" /></span>
            </li>
          {% else %}
            <li><span class="item empty"></span></li>
          {% endif %}
        {% endfor %}
      </ul>

    {% endfor %}
  </div>
{% else %}
  <p>No Stash.</p>
{% endif %}
