<h2>Treasury</h2>

{% if treasury %}
  <div id="guild-treasury">
    <ul>
      {% for tr in treasury.treasury.treasury %}
        <li data-tippy-arrow="true" data-tippy="{{tr.count}}/{{tr.needed_total}}&nbsp;&times; {{treasury.treasury._items[tr.item_id].name}}" data-complete="{{tr.total}}">
          <span class="count">{{tr.count}}</span>
          <span class="item border rarity-{{treasury.treasury._items[tr.item_id].rarity}}"><img src="{{treasury.treasury._items[tr.item_id].icon}}" /></span>
          <span class="progress"><span class="current" style="width: {{tr.total}}%;"></span></span>
        </li>
      {% endfor %}
    </ul>
  </div>

  <h2>Upgrades</h2>

  <div id="guild-upgrades">
    {% for upgrade in treasury.treasury._upgrades %}
      <div class="upgrade">
        <h3><img src="{{upgrade.icon}}" />&nbsp;{{upgrade.name}} <i class="fas fa-info-circle" data-tippy-arrow="true" data-tippy="{{upgrade.description}}"></i> <small>(+&nbsp;{{upgrade.experience}}&nbsp;EXP)</small></h3>
        <ul class="costs">
          {% for cost in upgrade.costs %}
            <li class="cost-{{cost.type|lower}}" data-complete="{% if cost.pc is defined %}{{cost.pc}}{% endif %}">
              <span class="current" style="width: {% if cost.pc is defined %}{{cost.pc}}{% endif %}%"></span>
              {% if cost.type == 'Collectible' %}
                {{treasury.treasury.favor}}/{{cost.count}}&nbsp;&times; {{cost.name}}
              {% elseif cost.type == 'Currency' %}
                {{treasury.treasury.aetherium}}/{{cost.count}}&nbsp;&times; {{cost.name}}
              {% else %}
                {{cost.total}}/{{cost.count}}&nbsp;&times; <span class="item rarity-{{treasury.treasury._items[cost.item_id].rarity}}"><img src="{{treasury.treasury._items[cost.item_id].icon}}" />&nbsp;{{treasury.treasury._items[cost.item_id].name}}</span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No Treasury.</p>
{% endif %}
