{% extends 'base.html.twig' %}

{% block title %}{% trans %}guilds.title{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}guilds.title{% endtrans %}</h1>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
  <p><a href="{{ path('guilds_add') }}" class="btn">{% trans %}guilds.add.button{% endtrans %}</a></p>
{% endif %}

{% if my_guilds %}
  <ul id="my-guilds">
    <li><strong>{% trans %}guilds.my.guilds{% endtrans %}</strong></li>
    {% for guild in my_guilds %}
      <li><a href="{{ path('guilds_show', {'slug': guild.guild.slug}) }}"><small>[{{guild.guild.tag}}]</small> {{guild.guild.name}}</a></li>
    {% endfor %}
  </ul>
{% endif %}

{% if guilds %}
  <div id="guilds-directory">
    {% for guild in guilds %}
      <div class="guild">
        {% if guild.emblem %}
        <div class="emblem">
          <div style="filter: invert(100%);">
            <div style="filter: brightness(0)">
              <div style="filter: grayscale(100%);">
                <img src="{{guild.emblem}}" />
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="details">
          <h3><small>[{{guild.tag}}]</small> {{guild.name}}</h3>
          {% if guild.description %}<h4>{{guild.description}}</h4>{% endif %}
          {% if guild.introduction %}<p>{{guild.introduction|nl2br}}</p>{% endif %}
          {% if guild.activities %}<p><strong>{% trans %}activities{% endtrans %}</strong> {{guild.activities|join(', ')}}</p>{% endif %}
          {% if guild.tags %}<p><strong>{% trans %}tags{% endtrans %}</strong> {{guild.tags|join(', ')}}</p>{% endif %}
          <p><a href="{{ path('guilds_show', {'slug': guild.slug}) }}" class="btn"><i class="fas fa-angle-double-right"></i> {% trans %}more.infos{% endtrans %}</a></p>
        </div>

      </div>
    {% endfor %}
  </div>
{% else %}
  <p>{% trans %}guilds.any{% endtrans %}</p>
{% endif %}

{% endblock %}
