{% extends 'base.html.twig' %}

{% block title %}{% trans %}guilds.title{% endtrans %}{% endblock %}

{% block body %}
  <div class="ui grid container">
    <div class="row">
      <div class="column">
        <h1>{% trans %}guilds.title{% endtrans %}</h1>
      </div><!-- .column -->
    </div><!-- .row -->
    <div class="row">
      <div class="column">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <p><a href="{{ path('guilds_add') }}" class="ui button green"><i class="fas fa-plus icon"></i>{% trans %}guilds.add{% endtrans %}</a></p>
        {% endif %}
      </div><!-- .column -->
    </div><!-- .row -->
    <div class="row">
      <div class="column">
        {% if my_guilds %}
          <div class="ui small horizontal list">
            <div class="item">
              <strong>{% trans %}guilds.my.guilds{% endtrans %}</strong>
            </div>
            {% for guild in my_guilds %}
              <div class="item">
                <a class="ui label" href="{{ path('guilds_show', {'slug': guild.slug}) }}">
                  <small>[{{guild.tag}}]</small> {{guild.name}}
                </a>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div><!-- .column -->
    </div><!-- .row -->
    <div class="row">
      <div class="column">
        {% if guilds %}
          <div class="ui link three stackable cards">
            {% for guild in guilds %}
              <a class="card" href="{{ path('guilds_show', {'slug': guild.slug}) }}">
                <div class="image">
                  <div class="ui right corner label green">
                    <i class="fas fa-user-plus icon"></i>
                  </div>
                  {% if guild.emblem %}
                    <div class="emblem">
                      <div style="filter: invert(100%);">
                        <div style="filter: brightness(0)">
                          <div style="filter: grayscale(100%);">
                            <img src="{{guild.emblem}}" />
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                </div>
                <div class="content center aligned">
                  <div class="header"><small>[{{guild.tag}}]</small> {{guild.name}}</div>
                  {% if guild.description %}<div class="description"><strong>{{guild.description}}</strong></div>{% endif %}
                  {% if guild.description %}<div class="description"><strong>{{guild.description}}</strong></div>{% endif %}
                </div>
                <div class="extra content center aligned ">
                  <i class="fas fa-user-friends"></i>&nbsp; {{'guild.members.count'|trans({'%total%': guild.guildMembers.members|length})}}
                </div>
              </a>
            {% endfor %}
          </div>
        {% else %}
          <p>{% trans %}guilds.any{% endtrans %}</p>
        {% endif %}
      </div><!-- .column -->
    </div><!-- .row -->
  </div><!-- .ui.grid.container -->
{% endblock %}
