{% extends 'base.html.twig' %}

{% block title %}{{guild.name}}{% endblock %}

{% block body %}

</div>

  <div id="guild-header">
    <div id="cover">
      {% if guild.emblem %}
      <div class="emblem">
          <div style="filter: brightness(1)">
            <div style="filter: grayscale(100%);">
              <img src="{{guild.emblem}}" />
            </div>
          </div>
      </div>
      {% endif %}
      <h1><small>[{{guild.tag}}]</small> {{guild.name}}</h1>
      {% if guild.description %}<p class="guild-description">{{guild.description}}</p>{% endif %}
      <ul id="guild-links">
        {% if guild.website %}
          <li class="website">
            <a href="{{ guild.website }}" target="_blank" data-tippy="Site" data-tippy-arrow="true"><span class="fa-stack">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fas fa-link fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        {% endif %}
        {% if guild.facebook %}
          <li class="facebook">
            <a href="{{ guild.facebook }}" target="_blank" data-tippy="Facebook" data-tippy-arrow="true"><span class="fa-stack">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        {% endif %}
        {% if guild.twitter %}
          <li class="twitter">
            <a href="{{ guild.twitter }}" target="_blank" data-tippy="Twitter" data-tippy-arrow="true"><span class="fa-stack">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        {% endif %}
        {% if guild.youtube %}
          <li class="youtube">
            <a href="{{ guild.youtube }}" target="_blank" data-tippy="Youtube" data-tippy-arrow="true"><span class="fa-stack">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        {% endif %}
        {% if guild.twitch %}
          <li class="twitch">
            <a href="{{ guild.twitch }}" target="_blank" data-tippy="Twitch" data-tippy-arrow="true"><span class="fa-stack">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fab fa-twitch fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        {% endif %}
        {% if guild.discord %}
          <li class="discord">
            <a href="{{ guild.discord }}" target="_blank" data-tippy="Discord" data-tippy-arrow="true"><span class="fa-stack">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fab fa-discord fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>

    <nav>
      <ul>
        <li>
          <a href="{{ path('guilds_show', {'slug': guild.slug}) }}">{% trans %}guild.submenu.home{% endtrans %}</a>
          {% if guild.getUser() == app.user %}
             <small><a href="{{ path('guilds_edit', {'slug': guild.slug}) }}">({% trans %}guild.home.edit.link{% endtrans %})</a></small>
          {% endif %}
        </li>
        {% if (guild.getDisplayStash() == 'members' and isMember) or (guild.getDisplayStash() == 'logged' and is_granted('IS_AUTHENTICATED_FULLY')) or guild.getDisplayStash() == 'public' %}
          <li><a href="{{ path('guilds_stash', {'slug': guild.slug}) }}">{% trans %}guild.submenu.stash{% endtrans %}</a></li>
        {% endif %}
        {% if (guild.getDisplayTreasury() == 'members' and isMember) or (guild.getDisplayTreasury() == 'logged' and is_granted('IS_AUTHENTICATED_FULLY')) or guild.getDisplayTreasury() == 'public' %}
          <li><a href="{{ path('guilds_treasury', {'slug': guild.slug}) }}">{% trans %}guild.submenu.treasury{% endtrans %}</a></li>
        {% endif %}
        <li>{% trans %}guild.submenu.scribe{% endtrans %}</li>
        <li>{% trans %}guild.submenu.achievements{% endtrans %}</li>
        <li>{% trans %}guild.submenu.events{% endtrans %}</li>
        {% if (guild.getDisplayMembers() == 'members' and isMember) or (guild.getDisplayMembers() == 'logged' and is_granted('IS_AUTHENTICATED_FULLY')) or guild.getDisplayMembers() == 'public' %}
          <li><a href="{{ path('guilds_members', {'slug': guild.slug}) }}">{% trans %}guild.submenu.members{% endtrans %}</a></li>
        {% endif %}
        {% if guild.getUser() == app.user %}
          <li><a href="{{ path('guilds_settings', {'slug': guild.slug}) }}">{% trans %}guild.submenu.settings{% endtrans %}</a></li>
        {% endif %}
      </ul>
    </nav>

  </div>

<div class="container">

  {#{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if isMember %}
      <p>You're a member of that guild.</p>
    {% else %}
      <p>You're <u>not</u> a member of that guild.</p>
    {% endif %}
  {% endif %}#}

  {% if view is defined and view == 'stash' %}
    {% include 'guild/_stash.html.twig' with {'stash': stash} %}
  {% elseif view is defined and view == 'treasury' %}
    {% include 'guild/_treasury.html.twig' with {'treasury': treasury} %}
  {% elseif view is defined and view == 'scribe' %}
    SCRIBE
  {% elseif view is defined and view == 'members' %}
    {% include 'guild/_members.html.twig' with {'members': members} %}
  {% elseif view is defined and view == 'settings' %}
    {% include 'guild/_settings.html.twig' %}
  {% else %}
    {% include 'guild/_logs.html.twig' with {'logs': logs} %}

    </div><!-- .container -->

    {% if guild.introduction %}
    <div id="guild-introduction">
      <div class="wrap tac">
        <p>{{guild.introduction|nl2br}}</p>
      </div>
    </div>
    {% endif %}

    <div id="guild-preview">

      <div class="wrap tac">

        <h2>{% trans %}guild.preview.title{% endtrans %}</h2>

        <p>{{ 'guild.preview.users'|trans({'%guild%': guild.name, '%total%': members.members|length}) }}</p>
        <p><em>{{ 'guild.preview.level'|trans({'%level%': guild.level}) }}</em></p>

        {% set upgrades = 0 %}

        <div class="upgrades-resume">

          {% if guild.notary %}
            {% set max = 7 %}
            <div class="progress-bar">
              <div class="text">{% trans %}guild.notary{% endtrans %}</div>
              <div class="amount">{{guild.notary}}/{{max}}</div>
              <div class="bar" style="width: {{( guild.notary / max * 100)|round(2)  }}%"></div>
            </div>
          {% endif %}

          {% if guild.tavern %}
            {% set max = 26 %}
            <div class="progress-bar">
              <div class="text">{% trans %}guild.tavern{% endtrans %}</div>
              <div class="amount">{{guild.tavern}}/{{max}}</div>
              <div class="bar" style="width: {{( guild.tavern / max * 100)|round(2)  }}%"></div>
            </div>
          {% endif %}

          {% if guild.mine %}
            {% set max = 15 %}
            <div class="progress-bar">
              <div class="text">{% trans %}guild.mine{% endtrans %}</div>
              <div class="amount">{{guild.mine}}/{{max}}</div>
              <div class="bar" style="width: {{( guild.mine / max * 100)|round(2)  }}%"></div>
            </div>
          {% endif %}

          {% if guild.workshop %}
            {% set max = 33 %}
            <div class="progress-bar">
              <div class="text">{% trans %}guild.workshop{% endtrans %}</div>
              <div class="amount">{{guild.workshop}}/{{max}}</div>
              <div class="bar" style="width: {{( guild.workshop / max * 100)|round(2)  }}%"></div>
            </div>
          {% endif %}

          {% if guild.market %}
            {% set max = 23 %}
            <div class="progress-bar">
              <div class="text">{% trans %}guild.market{% endtrans %}</div>
              <div class="amount">{{guild.market}}/{{max}}</div>
              <div class="bar" style="width: {{( guild.market / max * 100)|round(2)  }}%"></div>
            </div>
          {% endif %}

          {% if guild.arena %}
            {% set max = 24 %}
            <div class="progress-bar">
              <div class="text">{% trans %}guild.arena{% endtrans %}</div>
              <div class="amount">{{guild.arena}}/{{max}}</div>
              <div class="bar" style="width: {{( guild.arena / max * 100)|round(2)  }}%"></div>
            </div>
          {% endif %}

          {% if guild.warRoom %}
            {% set max = 45 %}
            <div class="progress-bar">
              <div class="text">{% trans %}guild.war_room{% endtrans %}</div>
              <div class="amount">{{guild.warRoom}}/{{max}}</div>
              <div class="bar" style="width: {{( guild.warRoom / max * 100)|round(2)  }}%"></div>
            </div>
          {% endif %}

        </div><!-- .upgrades-resume -->
      </div>
    </div>

    {% if guild.chart %}
    <div id="guild-chart">
      <div class="wrap tac">
        <h2>{% trans %}guild.chart{% endtrans %}</h2>
        <p>{{guild.chart|nl2br}}</p>
      </div>
    </div>
    {% endif %}

  {% endif %}

  {% if (view is defined and view != 'settings') or view is not defined %}

  <div class="wrap">
    <div id="guild-create-your-own">
      <div>
        <h4>{% trans %}create.your.own.title{% endtrans %}</h4>
        <p>{% trans %}create.your.own.text{% endtrans %}</p>
      </div>
      <div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <a href="{{ path('guilds_add') }}" class="btn">{% trans %}guilds.add.button{% endtrans %}</a>
        {% else %}
          <a href="{{ path('app_register') }}" class="btn">{% trans %}menu.register{% endtrans %}</a>
        {% endif %}
      </div>
    </div>
  </div>

  {% endif %}


{% endblock %}
