{% extends 'base.html.twig' %}

{% block title %}{{guild.name}}!{% endblock %}

{% block body %}

</div>

  <div id="guild-header">
    <div id="cover">
      <h1><small>[{{guild.tag}}]</small> {{guild.name}}</h1>
    </div>

    <nav>
      <ul>
        <li><a href="{{ path('guilds_show', {'slug': guild.slug}) }}">Home</a></li>
        {% if (guild.getDisplayStash() == 'members' and isMember) or (guild.getDisplayStash() == 'logged' and is_granted('IS_AUTHENTICATED_FULLY')) or guild.getDisplayStash() == 'public' %}
          <li><a href="{{ path('guilds_stash', {'slug': guild.slug}) }}">Stash</a></li>
        {% endif %}
        {% if (guild.getDisplayTreasury() == 'members' and isMember) or (guild.getDisplayTreasury() == 'logged' and is_granted('IS_AUTHENTICATED_FULLY')) or guild.getDisplayTreasury() == 'public' %}
          <li><a href="{{ path('guilds_treasury', {'slug': guild.slug}) }}">Treasury</a></li>
        {% endif %}
        <li>Scribe</li>
        <li>Achievements</li>
        <li>Events</li>
        {% if (guild.getDisplayMembers() == 'members' and isMember) or (guild.getDisplayMembers() == 'logged' and is_granted('IS_AUTHENTICATED_FULLY')) or guild.getDisplayMembers() == 'public' %}
          <li><a href="{{ path('guilds_members', {'slug': guild.slug}) }}">Members</a></li>
        {% endif %}
        {% if guild.getUser() == app.user %}
          <li><a href="{{ path('guilds_settings', {'slug': guild.slug}) }}">Settings</a></li>
        {% endif %}
      </ul>
    </nav>

  </div>

<div class="container">

  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if isMember %}
      <p>You're a member of that guild.</p>
    {% else %}
      <p>You're <u>not</u> a member of that guild.</p>
    {% endif %}
  {% endif %}

  {% if view is defined and view == 'stash' %}
    {% include 'guild/_stash.html.twig' with {'stash': stash} %}
  {% elseif view is defined and view == 'treasury' %}
    {% include 'guild/_treasury.html.twig' with {'treasury': treasury} %}
  {% elseif view is defined and view == 'scribe' %}
    SCRIBE
  {% elseif view is defined and view == 'members' %}
    {% include 'guild/_members.html.twig' with {'members': members} %}
  {% elseif view is defined and view == 'settings' %}
    {% include 'guild/_settings.html.twig' %}
  {% else %}
    {% include 'guild/_logs.html.twig' with {'logs': logs} %}
  {% endif %}

{% endblock %}
