{% extends 'guild/base.html.twig' %}

{% block javascripts %} {{parent()}}
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script> new ClipboardJS('.ui.button.share'); </script>
{% endblock %}

{% block body %} {{ parent() }}

<div id="guild-event">
  <div class="ui grid container stackable">
    <div class="row">
      <div class="column ten wide">
        <h2>{{event.name}}</h2>
        <p>{{event.description|markdown('light')|nl2br}}</p>

        <h3>{% trans %}event.registrations{% endtrans %}</h3>

        {% if is_granted('IS_AUTHENTICATED_FULLY') and not isRegistered %}
          <p><a href="{{ path('guilds_events_registration', {'slug': guild.slug, 'uid': event.uid}) }}" class="ui button green">{% trans %}event.register{% endtrans %}</a></p>
        {% endif %}

        {% if event.registrations|length > 0 %}

          <table class="ui table">
            <thead>
              <tr>
                <th>{% trans %}account.name{% endtrans %}</th>
                {#<th>Rôle</th>#}
                <th>{% trans %}event.registration.date{% endtrans %}</th>
              </tr>
            </thead>
            <tbody>
              {% for reg in event.getRegistrations() %}
                <tr>
                  <td>{{reg.user.accountName}}</td>
                  <td>{{ reg.createdAt|localizeddate('short', 'short') }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          {% else %}
            <p>{% trans %}event.registrations.any{% endtrans %}</p>
          {% endif %}
      </div>
      <div class="column six wide">

        <div class="ui segment">
          <div class="ui header">
            {% trans %}event.details{% endtrans %}
          </div>
          <div class="ui divided relaxed list">
            <div class="item">
              <i class="calendar alt icon"></i>
              {{event.startAt|localizeddate('medium', 'short')}}
            </div>

            <div class="item">
              <i class="hourglass half icon"></i>
              {{ 'event.duration'|trans({'%time%': event.duration}) }}
            </div>
            <div class="item">
              <i class="users icon"></i>
              {{ 'event.group.size.'~event.groupSize|trans }}
            </div>
            <div class="item">
              <i class="arrow alternate circle right icon"></i>
              {{ 'event.type.'~event.type|trans }}
            </div>
            <div class="item">
              <i class="code icon"></i>
              {% if event.groupSize > 5 %}
                /join {{event.user.accountName}}
              {% else %}
                /sqjoin {{event.user.accountName}}
              {% endif %}
            </div>
          </div>
        </div>

        <div class="ui segment">
          <div class="ui header">
            {% trans %}event.share{% endtrans %}
          </div>
          <div class="ui fluid action input small">
            <input type="text" value="{{ absolute_url(path('guilds_events_short', {'uid': event.uid})) }}" id="event-{{event.uid}}-share-url">
            <button class="ui icon button share" data-clipboard-target="#event-{{event.uid}}-share-url"><i class="clipboard icon"></i></button>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="column">
        <h3>{% trans %}comments{% endtrans %}</h3>

        <div class="ui minimal comments">

          {% if event.comments|length > 0 %}
            {% for comment in event.comments %}
              <div class="comment">
                <a class="avatar">
                  <img src="https://api.adorable.io/avatars/35/{{comment.user.accountName|md5}}.png">
                </a>
                <div class="content">
                  <a class="author">{{comment.user.accountName}}</a>
                  <div class="metadata">
                    <div class="date">{{comment.createdAt|localizeddate('medium', 'short')}}</div>
                  </div>
                  <div class="text">
                    <p>{{comment.content|nl2br}}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}

          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ form_start(form, {'attr': {'class': 'ui reply form', 'autocomplete': 'off'}}) }}

              <div class="field">
                {{ form_widget(form.content) }}
              </div>

              {{ form_widget(form) }}

              <button type="submit" name="button" class="ui primary submit labeled icon button">
                <i class="icon edit"></i> {% trans %}comment.add{% endtrans %}
              </button>

            {{ form_end(form) }}

          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
