{% extends 'guild/base.html.twig' %}

{% block body %} {{parent()}}

  <div class="ui grid container">

    {% if treasury and not treasury.treasury.treasury and guild.level == 69 %}
      <div class="row">
        <div class="column center aligned">
          <h2>{% trans %}guild.treasury.title{% endtrans %}</h2>
          <p>{{ 'guild.treasury.complete'|trans({'%guild%': guild.name}) }}</p>
        </div>
      </div>
    {% else %}

    <div class="row">
      <div class="column center aligned">
        <h2>{% trans %}guild.treasury.title{% endtrans %}</h2>
      </div>
    </div>

    <div class="row">
      <div class="column">

        {% if treasury %}
          <div id="guild-treasury">
            <ul>
              {% for tr in treasury.treasury.treasury %}
                <li data-tippy-arrow="true" data-tippy="{{tr.count}}/{{tr.needed_total}}&nbsp;&times; {{treasury.treasury._items[tr.item_id].name}}" data-complete="{{tr.total}}">
                  <span class="item"><img src="{{treasury.treasury._items[tr.item_id].icon}}" onerror="if (this.src != '{{asset('build/no-icon.png')}}') this.src = '{{asset('build/no-icon.png')}}';" /></span>
                  <div class="ui tiny progress yellow{% if tr.total == 100 %} success{% elseif tr.total == 0 %} error{% endif %}">
                    <div class="bar" style="width: {{tr.total}}%;"></div>
                    <div class="label">{{tr.count}}/{{tr.needed_total}}</div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="column center aligned">
          <h2>{% trans %}guild.upgrades.title{% endtrans %}</h2>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <div id="guild-upgrades">
            {% for upgrade in treasury.treasury._upgrades %}

              <div class="upgrade">
                <div class="ui segment grey tertiary">
                  <div class="ui feed">
                    <div class="event">
                      <div class="label">
                        <img src="{{upgrade.icon}}" onerror="if (this.src != '{{asset('build/no-icon.png')}}') this.src = '{{asset('build/no-icon.png')}}';" />
                      </div>
                      <div class="content">
                        <div class="header">{{upgrade.name}}</div>
                        <div class="description">{{upgrade.description}}</div>
                      </div>
                    </div>
                    <div class="ui top right attached label grey tiny">+{{upgrade.experience}}&nbsp;XP</div>
                  </div>
                </div>

                <div class="ui grid stackable upgrades">
                  {% for cost in upgrade.costs %}

                    <div class="column eight wide">
                      <div class="ui segment">
                        <div class="ui list horizontal">
                          <div class="item">
                            {% if cost.type == 'Item' %}<img class="ui mini image" src="{{treasury.treasury._items[cost.item_id].icon}}" onerror="if (this.src != '{{asset('build/no-icon.png')}}') this.src = '{{asset('build/no-icon.png')}}';" />{% endif %}
                            <div class="middle aligned content">
                              {% if cost.type == 'Collectible' %}
                                {{treasury.treasury.favor}}/{{cost.count}}&nbsp;&times; {{cost.name}}
                              {% elseif cost.type == 'Currency' %}
                                {{treasury.treasury.aetherium}}/{{cost.count}}&nbsp;&times; {{cost.name}}
                              {% else %}
                                {{cost.total}}/{{cost.count}}&nbsp;&times; <span class="item rarity-{{treasury.treasury._items[cost.item_id].rarity}}">{{treasury.treasury._items[cost.item_id].name}}</span>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                        <div class="ui bottom attached progress yellow{% if cost.pc is defined and cost.pc == 100 %} success{% elseif cost.pc is defined and cost.pc == 0 %} error{% endif %}">
                          <div class="bar" style="width: {% if cost.pc is defined %}{{cost.pc}}{% endif %}%"></div>
                        </div>
                      </div>
                    </div>

                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>


      {% else %}
        <div class="ui grid container">
          <div class="column center aligned">
            <h2>{% trans %}guild.treasury.title{% endtrans %}</h2>
            <p>No Treasury.</p>
          </div>
        </div>
      {% endif %}

    {% endif %}

  </div><!-- .ui.grid.container -->

{% endblock %}
