{% extends 'admin.html.twig' %}

{% block body %}

  <h1 class="text-center">Ajouter une décoration</h1>

  {{ form_start(form, {'attr': {'autocomplete': 'off'}}) }}

    <div class="form-group">
      {{ form_label(form.item, 'Identifiant de l\'objet') }}
      {{ form_widget(form.item, {'attr': {"class": 'form-control'}}) }}
    </div>

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Enregistrer</button>

    <a href="{{path('admin_decorations')}}" class="btn btn-secondary float-right">Annuler</a>

  {{ form_end(form) }}

{% endblock %}
