{% extends 'admin.html.twig' %}

{% block body %}

  <h1>Décorations de guildes <a href="{{ path('admin_decorations_edit', {'id': 'new'}) }}" class="btn btn-outline-primary"><i class="fas fa-plus"></i></a></h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>FR</th>
        <th>EN</th>
        <th>DE</th>
        <th>ES</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for decoration in decorations %}
        <tr>
          <td>{{decoration.fr}}</td>
          <td>{{decoration.en}}</td>
          <td>{{decoration.de}}</td>
          <td>{{decoration.es}}</td>
          <td><a href="{{ path('admin_decorations_delete', {'id': decoration.id}) }}" class="text-danger"><i class="fas fa-trash"></i></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}
